################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ListagemFornecedores.Data/obj/Debug/netcoreapp2.1
/ListagemFornecedores.Data/obj
/.vs/ListagemFornecedores.WebApi/v16/Server/sqlite3
/ListagemFornecedores.Domain/obj
/ListagemFornecedores.DTO/obj
/ListagemFornecedores.Services/obj
/ListagemFornecedores.UnitTest/obj/Debug/netcoreapp2.1
/ListagemFornecedores.UnitTest/obj
/ListagemFornecedores.WebApi/obj
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.WebApi.runtimeconfig.json
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.WebApi.runtimeconfig.dev.json
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.WebApi.pdb
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.WebApi.dll
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.WebApi.deps.json
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.pdb
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.dll
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.DTO.pdb
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.DTO.dll
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.pdb
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.dll
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.pdb
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.dll
/ListagemFornecedores.WebApi/bin/Debug/netcoreapp2.1
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.UnitTest.runtimeconfig.json
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.UnitTest.runtimeconfig.dev.json
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.UnitTest.pdb
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.UnitTest.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.UnitTest.deps.json
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.pdb
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.pdb
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.pdb
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.dll
/ListagemFornecedores.UnitTest/bin/Debug/netcoreapp2.1
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.pdb
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.dll
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Services.deps.json
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.pdb
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.dll
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.pdb
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.dll
/ListagemFornecedores.Services/bin/Debug/netcoreapp2.1
/ListagemFornecedores.DTO/bin/Debug/netcoreapp2.1/ListagemFornecedores.DTO.pdb
/ListagemFornecedores.DTO/bin/Debug/netcoreapp2.1/ListagemFornecedores.DTO.dll
/ListagemFornecedores.DTO/bin/Debug/netcoreapp2.1/ListagemFornecedores.DTO.deps.json
/ListagemFornecedores.DTO/bin/Debug/netcoreapp2.1
/ListagemFornecedores.Domain/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.pdb
/ListagemFornecedores.Domain/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.dll
/ListagemFornecedores.Domain/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.deps.json
/ListagemFornecedores.Domain/bin/Debug/netcoreapp2.1
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.pdb
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1/ListagemFornecedores.Domain.dll
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.pdb
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.dll
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1/ListagemFornecedores.Data.deps.json
/ListagemFornecedores.Data/bin/Debug/netcoreapp2.1
